body, html 
{
	padding: 0;
	margin: 0;
}

#particles-js
{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#page-wrapper
{
	position: relative;
	z-index: 2;
	width: 50%;
	margin: 0 auto;
	padding: 25px;
	min-height: 3000px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}